<!DOCTYPE html>
{% extends "L2prac_app/home.html" %}
  {%block body_block%}
    <div class="container">
      <h1>Here are your users info for L2prac_app</h1>
      {% if usersinfo %}
      <ol>
        {% for u in usersinfo %}
        <li>User Info id:{{u.uid}}</li>
          <ul>
            <li>First Name: {{u.fname|upper}}</li>
            <li>Last Name: {{u.lname|upper}}</li>
            <li>Email: {{u.umail}}</li>
          </ul>
          {% endfor %}
      </ol>
      {% else %}
      <h1>No user data found!</h1>
      {% endif %}
    </div>
  {%endblock%}
